body {
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    margin: 0px;
  }
  
  .header {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    text-align: center;
  }
  
  .title-row {
    margin-top: 42px;
    text-align: center;
    margin-bottom: 21px;
  }
  
  .instructions-title {
    display: inline;
    font-family: 'Work Sans';
    font-size: 26px;
    background: linear-gradient(to right, #ffefba, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .instructions-row {
    margin: 0 auto;
    width: 400px;
  }
  
  .instructions-number {
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 36px;
    color: #00ffff;
  }
  
  .instructions-text {
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 18px;
    background: linear-gradient(to right, #870000, #190a05);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .door-row {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .door-frame {
    cursor: pointer;
    padding: 10px;
    height: 300px;
    width: 200px;
  }
  
  .start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    background-image: linear-gradient(to right, #FFD194, #D1913C);
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Work Sans';
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 25px;
  }
  